<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Fulado de Tal 1
      </mat-panel-title>
      <mat-panel-description>
        <span>
          <mat-icon>face</mat-icon>
          <mat-icon>face</mat-icon>
          <mat-icon>face</mat-icon>
          <mat-icon>face</mat-icon>
        </span>
        <div><img class="img-header" src="assets/img/profile.png" alt=""></div>
      </mat-panel-description>

    </mat-expansion-panel-header>
    <mat-icon>face</mat-icon>
    <mat-icon>face</mat-icon>
    <mat-icon>face</mat-icon>
    <mat-icon>face</mat-icon>

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Fulado de Tal 2
      </mat-panel-title>
      <mat-panel-description>
        <span>
          <mat-icon>not_interested</mat-icon>
        </span>
        <div><img class="img-header" src="assets/img/profile.png" alt=""></div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h2>ninguem abaixo desse afiliado</h2>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Fulado de Tal 3
      </mat-panel-title>
      <mat-panel-description>
        <span>
          <mat-icon>face</mat-icon>
          <mat-icon>face</mat-icon>
          <mat-icon>face</mat-icon>
          <mat-icon>face</mat-icon>
          <mat-icon>face</mat-icon>
        </span>
        <div><img class="img-header" src="assets/img/profile.png" alt=""></div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <div><img class="img-header" src="assets/img/profile.png" alt=""></div>
      <div><img class="img-header" src="assets/img/profile.png" alt=""></div>
      <div><img class="img-header" src="assets/img/profile.png" alt=""></div>
      <div><img class="img-header" src="assets/img/profile.png" alt=""></div>
      <div><img class="img-header" src="assets/img/profile.png" alt=""></div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Fulado de Tal 4
      </mat-panel-title>
      <mat-panel-description>
        <span>
          <mat-icon>face</mat-icon>

        </span>
        <div><img class="img-header" src="assets/img/profile.png" alt=""></div>
      </mat-panel-description>
    </mat-expansion-panel-header>

  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Fulado de Tal 5
      </mat-panel-title>
      <mat-panel-description>
        <span>
          <mat-icon>face</mat-icon>
          <mat-icon>face</mat-icon>
        </span>
        <div><img class="img-header" src="assets/img/profile.png" alt=""></div>
      </mat-panel-description>
    </mat-expansion-panel-header>

  </mat-expansion-panel>


</mat-accordion>