<div class="body">
    <div class="dashboard">
        <div class="header" fxLayout="column" fxLayoutAlign="space-between center">
            <div>
                <figure *ngIf="foto">
                    <img class="perfil" src="assets/img/profile.png" />
                    <!-- <button mat-fab (click)="fazerLoginFace()">
                      <mat-icon class="mat-18">facebook</mat-icon>
                  </button> -->
                </figure>
            </div>
            <div>
                <h2 class="nome">{{ nome }}</h2>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="valores" fxLayout="row" fxLayoutAlign="center center">
            <div>
                <h4><strong>Afiliados:</strong> 50</h4>
            </div>
            <div class="margin_30">
                <h4><strong>Valor a receber:</strong> R$ 500,00</h4>
            </div>
        </div>
        <mat-divider></mat-divider>
        <!-- <app-afiliados></app-afiliados> -->
    </div>
</div>