<div class="body">
    <div class="dashboard">
        <div class="header" fxLayout="column" fxLayoutAlign="center center">
            <div *ngIf="foto">
                <figure *ngIf="(downloadURL | async); let url">
                    <img class="perfil" [src]="url || 'assets/img/profile.png'" />
                </figure>
            </div>

            <div>
                <h2 class="nome">{{ nome }}</h2>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="valores" fxLayout="row" fxLayoutAlign="center center">
            <div>
                <h4><strong>Afiliados:</strong> 50</h4>
            </div>
            <div class="margin_30">
                <h4><strong>Valor a receber:</strong> R$ 500,00</h4>
            </div>
        </div>
        <mat-divider></mat-divider>
        <!-- <app-afiliados></app-afiliados> -->
    </div>
</div>