
<div class="body">
  <div class="dashboard">
    <div class="header" fxLayout="column" fxLayoutAlign="space-between center">
      <div>
        <img class="perfil" src="assets/img/profile.png">
      </div>
      <div>
        <h2 class="nome">Usuario que esta logado</h2>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="valores" fxLayout="row" fxLayoutAlign="center center">
      <div>
        <h3><strong>Afiliados:</strong> 50</h3>
      </div>
      <div class="margin_30">
        <h3><strong>Valor a receber:</strong> R$ 500,00</h3>
      </div>
    </div>
    <mat-divider></mat-divider>
    <app-afiliados></app-afiliados>
  </div>
</div>
