/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

/* material designer import */

html,
body {
    height: 100vh;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.back-branco,
.content {
    min-height: 100vh;
}

.content {
    max-height: calc(100vh - 64px);
}

@media (max-width: 599px) {
    .content {
        max-height: calc(100vh - 56px);
    }
}

.login-card {
    padding: 10px;
}

.img-logo-login {
    display: block;
    max-width: 400px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.img-logo-login img {
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 20px;
}

.perfil {
    max-width: 150px;
    width: 100%;
    max-height: 150px;
    height: 100%;
    margin: 0 auto;
}

.nome {
    margin: 0 auto;
}

.margin_30 {
    padding-left: 30px;
}