/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* material designer import */


html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.back-branco, .content { min-height: 100vh; overflow: hidden;}
.content { max-height: calc(100vh - 64px);}
@media (max-width: 599px){
    .content { max-height: calc(100vh - 56px);}
} 

   